<link rel="stylesheet" type="text/css" href="./views/register/register.css" />
<div class="background"></div>
<div class="container">
  <h1>Register</h1>
  <form ng-submit="register()" class="register-form">
    <div class="formChild">
      <label for="username" class="form-label">Username</label>
      <input
        type="text"
        name="user"
        class="form-intext"
        id="username"
        required
        pattern="\S+.*"
        ng-model="username"
      />
    </div>

    <div class="formChild">
      <label for="password" class="form-label">Password</label>
      <input
        type="password"
        name="pass"
        class="form-intext"
        id="password"
        required
        pattern="\S+.*"
        ng-model="password"
      />
    </div>

    <div class="formChild">
      <label for="dateOfBirth" class="form-label">Date of Birth</label>
      <!-- <input
        type="date"
        name="birthDate"
        class="form-intext"
        id="dateOfBirth"
      /> -->
      <input id="kendoDateTimePicker" ng-model="birthDate" />
    </div>

    <div class="formChild">
      <label for="email" class="form-label">Email</label>
      <input
        type="email"
        name="mail"
        class="form-intext"
        id="email"
        required
        pattern="\S+.*"
        ng-model="email"
      />
    </div>

    <div class="formAddressChild">
      <div class="adresa">
        <label for="address" class="form-label">Your first address</label>
        <input
          type="text"
          name="address_n"
          class="form-intext"
          id="address"
          required
          pattern="\S+.*"
          ng-model="address"
        />
      </div>

      <div class="descriere">
        <label for="description" class="form-label"
          >Description of residency</label
        >
        <!-- <input type="textarea" name="descr" class="form-intext" id="description" required pattern="\S+.*"/> -->
        <textarea
          type="textarea"
          name="descr"
          class="form-textarea"
          id="description"
          rows="4"
          cols="50"
          ng-model="description"
        ></textarea>
      </div>
    </div>

    <button type="submit" class="btnConfirm">Confirm</button>
  </form>
</div>

<script>
  $("#kendoDateTimePicker").kendoDatePicker({
    value: new Date(),
    dateInput: true,
    // format: "dd/MM/yyyy",
    format: "yyyy/MM/dd",
  });

  $("#kendoDateTimePicker").addClass("form-intext");
</script>
