#dashboardMainDiv {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#toolbar li:nth-child(1) {
  margin-left: 25%;
}

#toolbar li {
  flex: 1;
}

#toolbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

#toolbar {
  width: 100%;
  background-color: white;
  padding: 5px;
}

.content h5 {
  position: absolute;
  top: 15px;
  /* transform: translateY(29px); */
  pointer-events: none;
  font-size: 2.5rem;
  transition: 0.5s;
  color: var(--myfont-color);
}
