<link rel="stylesheet" href="./views/locationInvoiceTypeRelation/lit.css" />
<h5>LIT Relations Wizard</h5>
<div
  style="
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  "
>
  <div id="kendoLITGrid"></div>
</div>
<script>
  $("#kendoLITGrid").kendoGrid({
    columns: [
      { field: "id", title: "ID", type: "number", editable: false },
      {
        field: "locationDescription",
        title: "Location Description",
        type: "string",
      },
      {
        field: "invoiceTypeName",
        title: "Invoice Type",
        type: "string",
      },
      { command: ["edit", "destroy"] },
    ],
    toolbar: [{ name: "create", text: "Add new LIT Relation" }],
    scrollable: true,
    sortable: true,
    pageable: false,
    dataSource: {
      data: [],
    },
    selectable: "row",
    editable: "inline",
    height: "600px",
    dataBound: function (e) {
      try {
        const scope = angular.element(this.element[0]).scope();
        const LITRelations = scope.LITRelations;
        if (
          LITRelations &&
          LITRelations.length > this.dataSource.data().length &&
          !scope.activeCall
        ) {
          scope.activeCall = true;
          utils.helperFunctions.deleteAllDataFromDataSource(this.dataSource);
          utils.helperFunctions.addAllDataToDataSource(
            this.dataSource,
            LITRelations
          );
          scope.activeCall = false;
        }
      } catch {
        console.error("error");
      }
    },
  });
</script>
